/*Top */
.top-info {
  padding-bottom: 20px;
}

.icon .bi {
  margin: 0 auto;
  display: block;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.top-info p {
  font-size: 20px;
  padding: 0 40px;
}

.top {
  background-color: #2e3740;
  color: white;
}

/*carousel */
.carousel {
  max-width: 40%;
}

.carousel {
  margin: 40px auto;
}

/*Bottom Info */

.minting .information p {
  font-size: 20px;
}

.minting p {
  line-height: 40px;
}

.minting h3 {
  padding-bottom: 20px;
}

.minting-information {
  background-color: #2e3740;
  color: white;
}

.middle p {
  font-size: 40px;
  padding-top: 30%;
}

.middle .row {
  margin: 10px 100px;
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.middle img {
  margin: 0 auto;

  height: auto;
  width: 100%;
  padding: 30px;
}

@media screen and (max-width: 480px) {
  .middle p {
    font-size: 20px;
  }
  .middle .row {
    padding: 0;
  }
}
