.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("./img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
